[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Mantenna | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Mantenna
Icon=mate-fs-bookmark
