[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Wooble | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Wooble
Icon=mate-fs-bookmark
