[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Magicat | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Magicat
Icon=mate-fs-bookmark
