[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Rock People | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Rock_People
Icon=mate-fs-bookmark
