[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Grizzlor | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Grizzlor
Icon=mate-fs-bookmark
