[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Leech | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Leech
Icon=mate-fs-bookmark
