[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Leech (Revelation) | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Leech_(Revelation)
Icon=mate-fs-bookmark
