[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Goblins | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Goblins
Icon=mate-fs-bookmark
