[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Mosquitor | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Mosquitor
Icon=mate-fs-bookmark
