[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Huntara | Wiki Grayskull | Fandom
Type=Link
URL=https://he-man.fandom.com/wiki/Huntara
Icon=mate-fs-bookmark
